/* MAIN STYLES - for width <= 400px */

/* GENERAL STYLES */

section, div {
  box-sizing: border-box;
  height: auto;
  overflow: auto;
  line-height: 1.6;
}

section {
  margin: 5px;
  padding: 5px;
}


/* FORM STYLES */

section form {
  padding: 10px;
  color: #414445;
}

section form input, section form button {
  margin-bottom: 10px;
  background-color: #d7f2fc;
  border: 1px solid #212324;
  color: #414445;
  font-size: 16px;
}

section form button {
  cursor: pointer;
}


/* MAIN INFO STYLES - city name and current date */

div#weatherApp {
  padding: 10px;
  border: 1px solid gray;
  background-color: #bfeef5;
  font-size: 12px;
}

div#weatherApp h2 {
  margin: 0px;
  font-size: 40px;
  font-weight: normal;
  color: black;
}


/* CURRENT WEATHER STYLES */

div#currentWeather {
  margin-top: 10px;
}

div#currentWeather div {
  width: 50%;
  float: left;
}

div#currentWeather img {
  width: 72px;
  margin-right: 5px;
}

div#currentWeather div span {
  color: black;
}

div#currentWeather div:first-child span {
  display: inline-block;
  font-size: 2em;
  vertical-align: top;
}

div#currentWeather div:first-child span sup {
  font-size: 0.4em;
  color: #646664;
  vertical-align: text-top;
}


/* WEATHER FORECAST STYLES */

div#weatherForecast {
  margin-top: 10px;
}

div.dailyWeather {
  position: relative;
  height: 90px;
  border-top: 1px solid gray;
}

div.dailyWeather div {
  padding: 0px 5px;
}

div.dailyWeather > div {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}

div.dailyWeather div h4 {
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

div.dailyWeather img {
  width: 40px;
  vertical-align: middle;
}

div.dailyWeather > div:not(:first-child) {
  text-align: center;
}

div.dailyWeather > div:nth-child(1) {
  width: 25%;
  height: 100%;
  left: 0;
}

div.dailyWeather > div:nth-child(2) {
  width: 45%;
  left: 25%;
}

div.dailyWeather > div:nth-child(3) {
  width: 30%;
  left: 70%;
}

div.temperatureValues img {
  margin-right: 5px;
}

div.temperatureValues div:first-child {
  color: black;
}


/* MEDIA QUERIES - adaptation to larger widths */

@media (min-width: 400px) {
  div#weatherApp {
    font-size: 14px;
  }
}

@media (min-width: 500px) {
  section {
    margin: 10px;
    padding: 10px;
  }

  div#weatherApp h2 {
    font-size: 50px;
  }

  div#currentWeather {
    font-size: 16px;
  }

  div.dailyWeather {
    height: 60px;
  }
  
  div.dailyWeather > div:nth-child(2) {
    width: 55%;
  }
  
  div.dailyWeather > div:nth-child(3) {
    width: 20%;
    left: 80%;
  }

  div.temperatureValues div {
    width: 50%;
    float: left;
  }
}

@media (min-width: 576px) {  
  div#weatherApp h2 {
    font-size: 60px;
  }

  div.dailyWeather {
    height: 70px;
    font-size: 16px;
  }

  div.dailyWeather img {
    width: 60px;
  }

  div.dailyWeather h4 {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  div#currentWeather, div.dailyWeather {
    font-size: 20px;
  }

  div#currentWeather img {
    width: 90px;
  }

  div.dailyWeather {
    height: 90px;
  }

  div.dailyWeather h4 {
    font-size: 24px;
  }

  div.dailyWeather img {
    width: 72px;
  }
}

@media (min-width: 992px) {
  div#weatherForecast {
    margin-top: 20px;
  }

  div.dailyWeather {
    position: static;
    height: auto;
    width: 20%;
    border-top: none;
    float: left;
    font-size: 16px;
  }

  div.dailyWeather img {
    width: 60px;
    margin-right: 0px;
  }
  
  div.dailyWeather > div {
    clear: left;
    position: static;
    transform: translateY(0%);
  }
  
  div.dailyWeather div h4 {
    margin-left: 0px;
    position: static;
    transform: translateY(0%);
    font-size: 18px;
  }
  
  div.dailyWeather > div:first-child {
    text-align: center;
  }

  div.dailyWeather > div:nth-child(1n) {
    width: 100%;
  }

  div.dailyWeather > div:last-child {
    margin-top: 10px;
  }

  div.temperatureValues {
    padding: 0px 20px !important;
  }

  div.temperatureValues div {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  section {
    width: 1200px;
  }
}
